.content-right {
	.content-right-item {
		width: 100%;
    position: relative;
    margin-bottom: 50px;
    border: 1px solid #f0f0f0;
    a {
      text-decoration: none;
      font-family: 'Open Sans';
      color: #333;
      display: inline-block;
    }
	}
}
