html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

.header {
  text-align: center; }
  .header .branding {
    height: 223px;
    background-image: url("../images/header-left.png"), url("../images/header-right.png");
    background-repeat: no-repeat,no-repeat;
    background-position: left top,right top; }
    .header .branding img {
      vertical-align: middle; }
    .header .branding ::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }

.nabar {
  padding-top: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  border-top: 3px double #f0f0f0;
  border-bottom: 3px double #f0f0f0; }

nav {
  text-transform: uppercase;
  width: 100%;
  text-align: center; }
  nav ul {
    display: block;
    line-height: 1.8em; }
  nav li {
    display: inline-block;
    list-style: none;
    padding-bottom: 10px;
    position: relative; }
    nav li::after {
      content: '/';
      top: 6px;
      position: absolute;
      right: -5px;
      font-weight: 700;
      font-size: 13px;
      color: #f0f0f0; }
    nav li:last-child::after {
      content: ''; }
  nav a {
    color: black;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    font-size: 14px;
    font-family: Open Sans; }

main .banner {
  margin-top: 47px;
  position: relative; }
  main .banner::before {
    content: "";
    background-image: url("../images/banner-overlay-top-tile.png");
    height: 96px;
    width: 100%;
    position: absolute; }
  main .banner::after {
    content: "";
    background-image: url("../images/banner-overlay-bottom-tile.png");
    height: 67px;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-bottom: 50px; }
  main .banner img {
    width: 100%; }

main .container {
  font-family: Open Sans;
  width: 100%;
  margin: 37px 0px 10px 0px;
  text-align: center; }
  main .container p {
    width: 1120px;
    height: 165px;
    margin: auto;
    padding: 38px 0px;
    line-height: 30px;
    font-size: 17px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; }

#footer {
  background-image: url("../images/footer-top-overlay.png"), url("../images/footer-bottom-right.png"), url("../images/footer-bottom-bg.jpg");
  background-color: #fafbfc;
  background-repeat: repeat-x, no-repeat, repeat-x;
  background-position: left top, right bottom, left top;
  background-size: 3000px 48px, 1500px 422px, auto 100%; }
  #footer .container {
    font-family: Open Sans;
    padding: 70px 0px;
    width: 1120px;
    margin: 0px auto;
    height: 450px; }
    #footer .container h4 {
      font-family: 'Zeyada';
      font-size: 45px;
      padding: 20px 0px 20px; }
    #footer .container p {
      padding-bottom: 10px; }
    #footer .container .col-3 input {
      margin-bottom: 20px;
      padding: 12px 9px;
      font-size: 1em;
      width: 100%;
      border: 1px solid #f0f0f0; }
    #footer .container .col-3 button {
      padding: 0px 30px;
      padding-top: 5px;
      background: white;
      font-family: 'Zeyada';
      font-size: 27px;
      border: 1px solid #f0f0f0; }
    #footer .container .col-3 img {
      margin-top: 27px; }
    #footer .container .col-4 li {
      display: inline-block;
      text-align: center;
      border-radius: 3px;
      padding: 0px 6px;
      margin-top: 0px; }
    #footer .container .col-4 a {
      text-align: center;
      color: #686868;
      font-size: 18px; }
      #footer .container .col-4 a img {
        padding-top: 10px; }
  #footer .info-page {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    font-size: 0.8em;
    font-family: 'Open Sans';
    padding-bottom: 30px; }

.container .col-footer {
  width: 25%;
  float: left;
  line-height: 1.8em;
  padding: 0 45px 0 0;
  font-size: 14px; }
  .container .col-footer a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 12px 5px; }

.content-right .content-right-item {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  border: 1px solid #f0f0f0; }
  .content-right .content-right-item a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #333;
    display: inline-block; }

main .body .container {
  height: 1600px;
  width: 1120px;
  margin: 0px auto;
  text-align: left; }
  main .body .container .content-left {
    width: 729.984px;
    float: left; }
  main .body .container .surfup {
    margin: 50px 20px 95px 0px;
    position: relative;
    border: 1px solid #f0f0f0; }
    main .body .container .surfup p {
      font-family: Open Sans;
      line-height: 1.8em;
      border: none;
      font-size: 14px;
      margin: 0px 0px 40px 20px;
      padding-right: 20px;
      height: auto;
      width: 700px; }
    main .body .container .surfup .surfup-img {
      position: relative; }
      main .body .container .surfup .surfup-img::before {
        content: '';
        position: absolute;
        right: 0px;
        left: 506px;
        background: url("../images/blog-corner.png") no-repeat;
        height: 151px; }
      main .body .container .surfup .surfup-img::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -28px;
        left: 0;
        background: url("../images/blog-overlay.png") no-repeat;
        height: 96px; }
    main .body .container .surfup .surfup-title {
      margin: 20px 0px;
      text-align: center; }
      main .body .container .surfup .surfup-title a {
        text-decoration: none; }
      main .body .container .surfup .surfup-title .text {
        font-family: 'Zeyada';
        font-size: 45px; }
        main .body .container .surfup .surfup-title .text a {
          color: black; }
      main .body .container .surfup .surfup-title .time {
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400; }
        main .body .container .surfup .surfup-title .time a {
          color: #5da5b9; }
    main .body .container .surfup .button {
      position: absolute;
      bottom: -21px;
      width: 100%;
      text-align: center; }
      main .body .container .surfup .button a {
        display: inline-block;
        line-height: 20px;
        background-color: #1faeca;
        border: none;
        color: white;
        padding: 17px 35px 10px;
        font-family: 'Zeyada';
        font-size: 28px;
        text-decoration: none; }
  main .body .container .content-right {
    float: left;
    margin: 0px 0px;
    margin-top: 50px;
    margin-left: 20px;
    width: 359.984px; }
    main .body .container .content-right h3 {
      margin-left: 25%;
      width: 50%;
      display: inline-block;
      text-align: center;
      font-family: 'Zeyada';
      font-size: 45px;
      text-align: center;
      color: #79c3d7;
      position: absolute;
      background-color: #ffffff;
      top: -21px; }
    main .body .container .content-right .content-wrap {
      width: 359.984px;
      padding-top: 0px;
      margin: 40px 0px 30px;
      padding: 10px 28px; }
    main .body .container .content-right .about p, main .body .container .content-right .about img {
      font-family: Open Sans;
      font-size: 14px;
      border: none;
      text-align: left;
      margin: 0px;
      padding: 0px;
      display: inline-block;
      min-height: 80px;
      width: 47%; }
    main .body .container .content-right .about img {
      border-radius: 50% 50% 50% 50%; }
    main .body .container .content-right .categories li {
      border-bottom: 1px solid #f0f0f0;
      padding: 0px; }
    main .body .container .content-right .categories a {
      padding: 12px 5px 12px; }
    main .body .container .content-right .tags a {
      text-transform: uppercase;
      padding: 10px 5px 10px;
      font-size: 8pt; }
    main .body .container .content-right .instagram li {
      text-align: center;
      margin: 0px;
      padding: 0px;
      display: inline-block;
      min-height: 80px;
      width: 32.4%; }
      main .body .container .content-right .instagram li img {
        margin: 10px 0px;
        padding: 5px; }
