<!DOCTYPE html>
<html>
<head>
  <title>Convert PSD to HTML - DiepSam - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <img  src="../images/logo.png" alt="LOGO"> 
      <nav class="menu-bar">
        <ul class="header-list">
          <li class="header-item">
            <a href="#">HOME</a>
          </li>
          <li class="header-item">
            <a href="#">ABOUT US</a>
          </li>
          <li class="header-item">
            <a href="#">PRODUCT</a>
          </li>
          <li class="header-item">
            <a href="#">NEWS EVENT</a>
          </li>
          <li class="header-item">
            <a href="#">GALLERY</a>
          </li>
          <li class="header-item">
            <a href="#">CONTACT</a>
          </li>

        </ul> 
      </nav>
    </div>
  </header>
  <main class="main-content">
    <section class="banner">
      <div class="container">
        <h2>QUALITY POLICY</h2>
        <h3>COMMITMENT TO PRODUCT QUALITY</h3>
        <a href="#">VIEW MORE</a>
      </div>
    </section>
    <section class="about-us">
      <div class="container">
        <div class="title">
          <h2>About us</h2>
          <img src="../images/icon1.png" alt="Icon">
        </div>
        <ul class="about-list">
          <li class="about-item">
            <h3>Interior design consultant</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
            <img src="../images/about1.jpg">
          </li>
          <li class="about-item">
            <h3>Provided interior product </h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
            <img src="../images/about2.jpg">
          </li>
          <li class="about-item">
            <h3>Policy quality</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
            <img src="../images/about3.jpg">
          </li>
        </ul>
      </div>
    </section>
    <section class="product">
      <div class="container">
        <div class="title">
          <h2>PRODUCT</h2>
          <img src="../images/icon1.png" alt="Icon">
        </div>
        <ul class="tab-list">
          <li class="tab-item">
            <img src="../images/pro1.jpg">
            <img src="../images/pro2.jpg">
            <img src="../images/pro3.jpg">
            <img src="../images/pro4.jpg">
            <img src="../images/pro5.jpg">
            <img src="../images/pro6.jpg">
          </li>
          <li class="tab-item"></li>
          <li class="tab-item"></li>
          <li class="tab-item"></li>
          <li class="tab-item"></li>
          <li class="tab-item"></li>
        </ul>
        <div class="view-all">
          <a href="#">VIEW ALL</a>
        </div>
      </div>
    </section>
    <section class="projects">
      <div class="container">
        <div class="title">
          <h2>PROJECT</h2>
          <img src="../images/icon1.png" alt="Icon">
        </div>
        <ul class="tab-list">
          <li class="tab-item">
            <div class="project-img">
              <img src="../images/img1.jpg">
              <img src="../images/img5.jpg">
            </div>
            <div class="project-img">
              <img src="../images/img2.jpg">
              <img src="../images/img6.jpg">
            </div>
            <div class="project-img">
              <img src="../images/img3.jpg">
              <img src="../images/img7.jpg">
              <img src="../images/img8.jpg">
            </div>
            <div class="project-img">
              <img src="../images/img4.jpg">
              <img src="../images/img9.jpg">
            </div>   
          </li>
          <li class="tab-item"></li>
          <li class="tab-item"></li>
        </ul>
      </div>
    </section>
    <section class="news-event">
      <div class="container">
        <div class="title title-color">
          <h2>NEWS- EVENT</h2>
          <img src="../images/icon1.png" alt="Icon">
        </div>
        <ul class="news-list">
          <li class="news-item">
            <img src="../images/event1.jpg">
            <p class="title-color">It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout</p>
            <p class="title-color">It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout</p>
          </li>
          <li class="news-item">
            <img src="../images/event2.jpg">
            <p class="title-color">It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout</p>
            <p class="title-color">It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout</p>
          </li>
          <li class="news-item">
            <img src="../images/event3.jpg">
            <p class="title-color">It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout</p>
            <p class="title-color">It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout It is a long established fact that a reader will be distracted by the read content of a page when looking at its layout</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="gallery">
      <div class="container">
        <div class="title">
          <h2>GALLERY</h2>
          <img src="../images/icon1.png" alt="Icon">
        </div>
        <ul class="gallery-list">
          <li class="gallery-item">
            <img src="../images/gal1.jpg">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
          </li>
          <li class="gallery-item">
            <img src="../images/gal2.jpg">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
          </li>
          <li class="gallery-item">
            <img src="../images/gal3.jpg">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
          </li>
          <li class="gallery-item">
            <img src="../images/gal4.jpg">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.082460042755!2d108.22478711446573!3d16.061210188885912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219cd079d734b%3A0x337f63b74a260795!2zQ-G6p3UgUuG7k25nIMSQw6AgTuG6tW5n!5e0!3m2!1svi!2s!4v1512559700818" width="100%" height="530" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    <section class="contact">
      <div class="container">
        <div class="title title-color">
          <h2>Contact with us</h2>
        </div>
        <div class="infor-personal">
          <p>Please enter your information below</p>
          <form>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="phone" placeholder="Phone Number">
            <textarea placeholder="Content"></textarea>
          </form>
        </div>
        <div class="infor-company">
        <h2>Company Interior Design Consultancy Home Stay</h2>
        <p class="section_contact_bottom_right_p">Consulting - Interior design</p>
        <p><b>Address</b>: 109 Nguyen Hien, Son Tra, Da Nang</p>
        <p><b>Phone</b>: 01287 069 177</p>
        <img src="../images/facebook.png" alt="FB">
        <img src="../images/twiter.png" alt="TW">
        <img src="../images/googleplus.png" alt="GG">
        <img src="../images/skype.png" alt="Sky">
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <p class="copyright">Copyright by Home Stay Company</p>
      <p class="design">Design by <span>DaividDong.vn</span></p>
    </div>
  </footer>
</body>
</html>
