<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>SUMMER DAY - FINAL PROJECT - Hieu Le</title>
  <link rel="stylesheet" type="text/css"  href="../css/style.css">
</head>
<body>
  <header class="header">
    <div class="branding">
      <a href="" class="logo-link">
        <img src="../images/logo-summer-day.png" alt="SUMER DAY LOGO">
      </a>  
    </div>
    <nav class="nabar">
      <div class="container">
        <ul class="nabar-list">
          <li class="nabar-item">
            <a href="">Home</a>
          </li>
          <li class="nabar-item">
            <a href="">Examples</a>
          </li>
          <li class="nabar-item">
            <a href="">About</a>
          </li>
          <li class="nabar-item">
            <a href="">Shop</a>
          </li>
          <li class="nabar-item">
            <a href="">Blog</a>
          </li>
          <li class="nabar-item">
            <a href="">Gallery</a>
          </li>
          <li class="nabar-item">
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main class="main">
    <div class="banner">
      <img src="../images/banner2.jpg" alt="">
    </div>
    <section>
      <div class="container">
        <p>
          For over 7 years we have been creating unique website templates for thousands of people.<br>
          We love what we do and hope all our clients enjoy making our websites their own. We specialise in WordPress templates that are easily customized and are ready to have a variety of plugins installed to suit any business.
        </p>  
      </div>
    </section>
    <section class="body">
      <div class="container">
        <div class="content-left">
          <div class="surfup">
          <div class="surfup-img">
            <a href="#" title="">
              <img src="../images/photo-1465152251391-e94453ee3f5a-1-800x410.jpg" alt="Img Surfup">
            </a>  
          </div>
          <div class="surfup-title">
            <h2 class="text">
              <a href="" title="">Surfs Up – Best locations</a>
            </h2> 
            <div class="time">
              <a href="" title="">September 16, 2016</a>
              
            </div> 
          </div>
          <p>Type your custom Excerpt here. This will display on the blog summary pages.</p>
          <div class="button">
            <a href="" title="">More</a>
          </div>
          
        </div>
        <div class="surfup">
          <div class="surfup-img">
            <a href="#" title="">
              <img src="../images/photo-1461537236760-a9cb9d8ce48f-800x410.jpg" alt="Img Surfup">
            </a>  
          </div>
          <div class="surfup-title">
            <h2 class="text">
              <a href="" title="">Surfs Up – Best locations</a>
            </h2> 
            <div class="time">
              <a href="" title="">September 16, 2016</a>
              
            </div> 
          </div>
          <p>A vacation or holiday is a leave of absence from a regular occupation, or a specific trip or journey, usually for the purpose of recreation or tourism. People often take a vacation during specific holiday observances, or for specific festivals or celebrations. Vacations are often spent with friends or family. A person may take a longer break from work, such as a sabbatical, gap year, or career break. The concept[…]</p>
          <div class="button">
            <a href="" title="">More</a>
          </div>
        </div>
        </div>
        <div class="content-right" >
          <section class="content-right-item about">
            <h3>About</h3>
            <div class="content-wrap">
                <p>dtbaker is a website designer with a professional career spanning over 15 years.</p>
                <img src="../images/profile-1.jpg" alt="AVATAR">
            </div>
          </section>
          <section class="content-right-item categories">
            <h3>Categories</h3>
               <div class="content-wrap">
                <ul>
                  <li>
                    <a href="#">Design</a>
                  </li>
                  <li>
                    <a href="#">Life</a>
                  </li>
                  <li>
                    <a href="#">Marketing</a>
                  </li>
                  <li>
                    <a href="#">WordPress</a>
                  </li>
                </ul>
              </div>
          </section>
          <section class="content-right-item tags">
            <h3>Tags</h3>
            <div class="content-wrap">
              <a href="#">Beach</a>
              <a href="#">Creative</a>
              <a href="#">Fun</a>
              <a href="#">Summer</a>
              <a href="#">Theme</a>
              <a href="#">WordPress</a>
              </div>
          </section>
          <section class="content-right-item instagram">
            <h3>Instagram</h3>
            <div class="content-wrap">
                <ul>
                  <li>
                    <img src="../images/23734435_1998389533752943_7867810595083386880_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/23734609_387579961679406_8307463517884121088_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/23734614_1866027220374730_6423905541503844352_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/23823451_1967111290214933_1808284830522146816_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/23824032_129322631091815_7423720060532817920_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/23824957_1412219398901314_6782763871699468288_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/24124894_134320013943372_9036561304738856960_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/24125179_1990961551141021_6132274934233169920_n.jpg" alt="">
                  </li>
                  <li>
                    <img src="../images/24126841_153241618765154_7195066039032348672_n.jpg" alt="">
                  </li>
                </ul>
              </div>
          </section>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="col-footer col-1">
        <h4 class="title-social">
          About
        </h4>
        <p>Baker Web Development is the combined efforts of two freelance web developers Hayley (design) & Dave (code). We
          have been working together since 2005.</p>
        <p>This theme is available for purchase on ThemeForest.net.</p>
      </div>
      <div class="col-footer col-2">
        <h4 class="title-social">
          Links
        </h4>
        <ul>
          <li>
            <a href="#">> ThemeForest</a>
          </li>
          <li>
            <a href="#">> CodeCanyon</a>
          </li>
          <li>
            <a href="#">> dtbaker.com</a>
          </li>
          <li>
            <a href="#">> Help</a>
          </li>
        </ul>
      </div>
      <div class="col-footer col-3">
        <h4 class="title-social">
          Newsletter
        </h4>
        <form action="#">
          <input type="text" name="" id="" placeholder="Your Name">
          <input type="email" name="" id="" placeholder="Your Email">
          <br/>
          <button type="submit">Submit</button>
        </form>
        <img src="../images/captcha.png" alt="CAPCHA">
      </div>
      <div class="col-footer col-4">
        <h4 class="title-social">
          Contact
        </h4>
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook-square fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter-square fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i><img src="../images/instagram.png" alt="Instagram"></i>
              <!-- <i class="fa fa-instagram fa-2x"></i> -->
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pinterest-square fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="info-page">
      © Summer - 2016
    </div>
  </footer>
</body>
</html>
